<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="todo-list-title">Todos</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering in Angular -->

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by Owner"
            [(ngModel)]="todoOwner" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by Category"
            [(ngModel)]="todoCategory" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Limit</mat-label>
            <input matInput id="todo-limit-input" placeholder="Limit"
            [(ngModel)]="todoLimit" (input)="updateFilter()">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <!-- Examples of filtering on the server -->

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoStatus" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
          </mat-select>
          <mat-hint>Filtered on server</mat-hint>
        </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input matInput id="todo-body-text-input" placeholder="Filter by Body"
            [(ngModel)]="todoBodyText" (input)="getTodosFromServer()">
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoSort" data-test="todoSortSelect">
              <mat-option>--</mat-option>
              <mat-option value="body">Body</mat-option>
              <mat-option value="status">Status</mat-option>
              <mat-option value="category">Category</mat-option>
              <mat-option value="owner">Owner</mat-option>
          </mat-select>
          <mat-hint>Filtered on server</mat-hint>
        </mat-form-field>
      </div>

        <br>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <label>View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredTodos; else todosError" >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div [ngSwitch]="viewType">

      <!-- Card grid view -->
      <div *ngSwitchCase="'card'" fxLayout="row wrap" fxLayoutGap="10px" class="todo-cards-container">
        <app-todo-card [simple]="true" *ngFor="let todo of filteredTodos" class="todo-card" [todo]="todo" fxFlex="1 1 280px"></app-todo-card>
      </div>

      <!-- List view -->
      <mat-card *ngSwitchCase="'list'">
        <mat-card-content>
          <mat-nav-list class="todo-nav-list">
            <h3 mat-subheader>Todos</h3>
            <a mat-list-item *ngFor="let todo of this.filteredTodos" [routerLink]="['/Todos', todo._id]" class="todo-list-item">
              <h3 matLine class="todo-list-owner"> {{todo.owner}} </h3>
              <p matLine class="todo-list-status"> {{todo.status}} </p>
            </a>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #todosError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="todos-error">
      <mat-error>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>
